<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OAMPS.Office.Word.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <OAMPS.Office.Word.Properties.Settings>
      <setting name="GraphicsPictureLibraryTitle" serializeAs="String">
        <value>OAMPS Branding</value>
      </setting>
      <setting name="GraphicsPictureLibraryTitleLogos" serializeAs="String">
        <value>Company Logos</value>
      </setting>
      <setting name="MajorPolicyClassesListName" serializeAs="String">
        <value>Class of Insurance</value>
      </setting>
      <setting name="MinorPolicyClassesListName" serializeAs="String">
        <value>Policy Type</value>
      </setting>
      <setting name="PreRenewalQuestionareMappingsListName" serializeAs="String">
        <value>PreRenewalQuestionareMappings</value>
      </setting>
      <setting name="ApprovedInsurersListName" serializeAs="String">
        <value>Approved Insurers List</value>
      </setting>
      <setting name="GeneralFragmentsListName" serializeAs="String">
        <value>Fragments</value>
      </setting>
      <setting name="EmailAddressUFITo" serializeAs="String">
        <value>daniel.colarossi@oamps.com.au</value>
      </setting>
      <setting name="EmailAddressUFIFrom" serializeAs="String">
        <value>daniel.colarossi@oamps.com.au</value>
      </setting>
      <setting name="SMTP" serializeAs="String">
        <value />
      </setting>
      <setting name="MinorQuestionClassesListName" serializeAs="String">
        <value>Discovery Guide</value>
      </setting>
      <setting name="TopLevelQuestionClassesListName" serializeAs="String">
        <value>Discovery Category</value>
      </setting>
      <setting name="PolicyFragmentKeysListName" serializeAs="String">
        <value>PolicyFragments</value>
      </setting>
      <setting name="GeneralFragmentKeysListName" serializeAs="String">
        <value>Fragments</value>
      </setting>
      <setting name="HelpContentListName" serializeAs="String">
        <value>Word Help Content</value>
      </setting>
      <setting name="UsageReportingListName" serializeAs="String">
        <value>Usage Reporting</value>
      </setting>
      <setting name="PolicySchedulesListName" serializeAs="String">
        <value>Quote Slip Schedules</value>
      </setting>
      <setting name="LibraryClaimsProcedures" serializeAs="String">
        <value>Claims Procedures</value>
      </setting>
      <setting name="ListProposalShortDocumentTitles" serializeAs="String">
        <value>proposal short document titles</value>
      </setting>
      <setting name="FragmentFSGLetter" serializeAs="String">
        <value>/testing/Fragments/FSG%20Fragment_letter.docx</value>
      </setting>
      <setting name="FragmentWarning" serializeAs="String">
        <value>/testing/Fragments/General%20Advice%20Warniing%20Fragment.docx</value>
      </setting>
      <setting name="TemplateInsuranceRenewalReport" serializeAs="String">
        <value>/testing/OAMPSWordTemplates/Insurance%20Renewal%20Report.docx</value>
      </setting>
      <setting name="TemplateDiscoveryGuide" serializeAs="String">
        <value>/testing/OAMPSWordTemplates/Discovery%20Guide.docx</value>
      </setting>
      <setting name="TemplateAgenda" serializeAs="String">
        <value>/testing/OAMPSWordTemplates/Meeting%20Agenda.docx</value>
      </setting>
      <setting name="FragmentFSG" serializeAs="String">
        <value>/testing/Fragments/FSG%20Fragment.docx</value>
      </setting>
      <setting name="FragmentPrivacy" serializeAs="String">
        <value>/testing/Fragments/Privacy%20Statement.docx</value>
      </setting>
      <setting name="FragmentUninsuredRisks" serializeAs="String">
        <value>/testing/Fragments/Uninsured%20Risks%20Checklist.docx</value>
      </setting>
      <setting name="FragmentStatutory" serializeAs="String">
        <value>/testing/Fragments/Important%20Notices.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_ExistingInsr_NoGAW_NoFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20NoContact_ExistingInsr_NoGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_ExistingInsr_NoGAW_YesFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20NoContact_ExistingInsr_NoGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_ExistingInsr_YesGAW_NoFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20NoContact_ExistingInsr_YesGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_ExistingInsr_YesGAW_YesFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20NoContact_ExistingInsr_YesGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentServicePlanSeg2" serializeAs="String">
        <value>/testing/Fragments/Service%20Plan%20Seg%202%20v0.1.docx</value>
      </setting>
      <setting name="FragmentServicePlanSeg3" serializeAs="String">
        <value>/testing/Fragments/Service%20Plan%20Seg%203%20v0.1.docx</value>
      </setting>
      <setting name="FragmentServicePlanSeg4" serializeAs="String">
        <value>/testing/Fragments/Service%20Plan%20Seg%204%20v0.1.docx</value>
      </setting>
      <setting name="FragmentServicePlanSeg5" serializeAs="String">
        <value>/testing/Fragments/Service%20Plan%20Seg%205%20v0.1.docx</value>
      </setting>
      <setting name="FragementFeesRemuneration" serializeAs="String">
        <value>/testing/Fragments/OAMPS%20Professional%20Fees%20Remuneration.docx</value>
      </setting>
      <setting name="FragementFeesCommission" serializeAs="String">
        <value>/testing/Fragments/OAMPS%20Combined%20%20Fee%20and%20commission.docx</value>
      </setting>
      <setting name="FragmentClassOfInsurance" serializeAs="String">
        <value>/testing/Fragments/Class%20of%20Insurance.docx</value>
      </setting>
      <setting name="FragmentUFI" serializeAs="String">
        <value>/testing/Fragments/UFI%20Declaration.doc</value>
      </setting>
      <setting name="FragmentTermsOfEngagement" serializeAs="String">
        <value>/testing/Fragments/Terms%20of%20Engagement.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_NewInsr_NoGAW_NoFunding" serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20NoContact_NewInsr_NoGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_NewInsr_NoGAW_YesFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20NoContact_NewInsr_NoGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_NewInsr_YesGAW_NoFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20NoContact_NewInsr_YesGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_NewInsr_YesGAW_YesFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20NoContact_NewInsr_YesGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_ExistingInsr_NoGAW_NoFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20YesContact_ExistingInsr_NoGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_ExistingInsr_NoGAW_YesFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20YesContact_ExistingInsr_NoGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_ExistingInsr_YesGAW_NoFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20YesContact_ExistingInsr_YesGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_ExistingInsr_YesGAW_YesFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20YesContact_ExistingInsr_YesGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_NewInsr_NoGAW_NoFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20YesContact_NewInsr_NoGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_NewInsr_NoGAW_YesFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20YesContact_NewInsr_NoGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_NewInsr_YesGAW_NoFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20YesContact_NewInsr_YesGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_NewInsr_YesGAW_YesFunding"
        serializeAs="String">
        <value>/testing/Fragments/Ren%20Ltr%20YesContact_NewInsr_YesGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRRPurposeReport45" serializeAs="String">
        <value>/testing/Fragments/Ren_Rpt_Purpose%20of%20Report%20SEG4and5.docx</value>
      </setting>
      <setting name="FragmentRRPurposeReport23" serializeAs="String">
        <value>/testing/Fragments/Ren_Rpt_Purpose%20of%20Report%20SEG2and3.docx</value>
      </setting>
      <setting name="FragmentRREexSumFeeCommission" serializeAs="String">
        <value>/testing/Fragments/Executive%20Summary_Fees_Commission%20Only.docx</value>
      </setting>
      <setting name="FragmentRREexSumFeeCombine" serializeAs="String">
        <value>/testing/Fragments/Executive%20Summary_Fees_Fee%20Only%20and%20Combination.docx</value>
      </setting>
      <setting name="FragmentAGMinutes" serializeAs="String">
        <value>/testing/Fragments/Fragement%20Agenda%20Minutes.docx</value>
      </setting>
      <setting name="FragmentClientProfile" serializeAs="String">
        <value>/testing/Fragments/Client%20Profile.docx</value>
      </setting>
      <setting name="TemplatePrerenewalQuestionare" serializeAs="String">
        <value>/testing/OAMPSWordTemplates/Pre-Renewal%20Questionnaire.docx</value>
      </setting>
      <setting name="FragmentPRQApprovalForm" serializeAs="String">
        <value>/testing/Fragments/PR%20Questionare%20Approval%20Form.docx</value>
      </setting>
      <setting name="FragmentPRQClaimsMadeWarning" serializeAs="String">
        <value>/testing/Fragments/PR%20Questionare%20Claims%20Made%20Warning.docx</value>
      </setting>
      <setting name="FragmentRRPurposeReportGeneric" serializeAs="String">
        <value>/testing/Fragments/Ren_Rpt%20Purpose%20of%20Report.docx</value>
      </setting>
      <setting name="BlankFSGFragement" serializeAs="String">
        <value>/testing/Fragments/Blank%20Fragment%20Base.docx</value>
      </setting>
      <setting name="TemplateGenericLetter" serializeAs="String">
        <value>/testing/OAMPSWordTemplates/Generic%20Letter.docx</value>
      </setting>
      <setting name="TemplateInsuranceRenewalLetter" serializeAs="String">
        <value>/testing/OAMPSWordTemplates/Renewal%20Letter.docx</value>
      </setting>
      <setting name="TemplateQuoteSlip" serializeAs="String">
        <value>/testing/OAMPSWordTemplates/QuoteSlip.docx</value>
      </setting>
      <setting name="PlacementSlipConditionsFragement" serializeAs="String">
        <value>/testing/Fragments/PlacementSlipConditions.docx</value>
      </setting>
      <setting name="InsuranceManualProgramSummary" serializeAs="String">
        <value>/testing/Fragments/InsuranceManualProgramSummary.docx</value>
      </setting>
      <setting name="InformationForPolicyFragment" serializeAs="String">
        <value>/testing/Fragments/Information%20for%20Policy.docx</value>
      </setting>
      <setting name="SharePointContextUrl" serializeAs="String">
        <value>http://templates.oamps.com.au/testing/</value>
      </setting>
      <setting name="FragmentContractingProcedure" serializeAs="String">
        <value>/testing/Fragments/Contracting%20Procedure.docx</value>
      </setting>
      <setting name="InsuranceProposalShortProgramSummary" serializeAs="String">
        <value>/testing/Fragments/InsuranceProposalShortProgramSummary.docx</value>
      </setting>
      <setting name="FragmentClientProfileShortFormProposal" serializeAs="String">
        <value>/testing/Fragments/Client%20Profile%20Insurance%20Proposal%20Short.docx</value>
      </setting>
      <setting name="BlankFragmentBaseOlly" serializeAs="String">
        <value>/testing/Fragments/Blank%20Fragment%20Base%20Olly.docx</value>
      </setting>
    </OAMPS.Office.Word.Properties.Settings>
  </userSettings>
</configuration>