<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <section name="fragmentSettings" type="CSSTemplates.TemplateSyncTool.Settings.FragmentSettings, CSSTemplates.TemplateSyncTool, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <!-- ========== App settings ========== -->
  <appSettings>
    <!-- credentials -->
    <add key="Credentials:Username" value="##### FILL IN (...@ajg.com.au) #####" />
    <add key="Credentials:Password" value="##### FILL IN #####" />
    <!-- obsolete adal... -->
    <add key="tenant" value="ajgau.onmicrosoft.com" />
    <add key="clientid" value="83141754-35c8-4bf9-9a1d-c125529856f0" />
    <add key="clientsecret" value="*** mysecret ***" />
    <add key="PromptForAuth" value="false" />
    <add key="redirecturi" value="https://ajgau.sharepoint.com/sites/intranet" />
    <add key="TokenResourceUrl" value="https://ajgau.sharepoint.com" />
    <add key="TenantMetadataUrl" value="https://login.microsoftonline.com/4f955c1f-62e5-44ef-8da3-051caaa6b103/federationmetadata/2007-06/federationmetadata.xml" />
    <add key="SharePointContextUrl" value="https://ajgau.sharepoint.com/sites/Applications/Templates/" />
    <add key="TemplateDownloadDirectory" value="C:\ProgramData\AJG\CSS Templates" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TemplateLibraryName" value="OAMPSWordTemplates" />
    <add key="LetterTemplateLibraryName" value="OAMPS Letters" />
    <add key="FieldValuesFileEnding" value="_fvs.txt" />
  </appSettings>
  <!-- ========== Fragments ========== -->
  <fragmentSettings>
    <fragments>
      <!-- documents -->
      <fragment source="Claims Procedures" destination="Claims Procedures" type="library" />
      <fragment source="Company Logos" destination="Company Logos" type="library" />
      <fragment source="Excel Templates" destination="Excel Templates" type="library" />
      <fragment source="Insurance Manual Claims Procedures" destination="Insurance Manual Claims Procedures" type="library" />
      <fragment source="Fragments" destination="Fragments" type="library" />
      <fragment source="OAMPS Branding" destination="OAMPS Branding" type="library" />
      <fragment source="OAMPS Letters" destination="OAMPS Letters" type="library" />
      <fragment source="OAMPSWordTemplates" destination="OAMPSWordTemplates" type="library" />
      <fragment source="PreRenewalQuestionareMappings" destination="PreRenewalQuestionareMappings" type="library" />
      <fragment source="PolicyFragments" destination="PolicyFragments" type="library" />
      <fragment source="PowerPointTemplates" destination="PowerPoint Templates" type="library" />
      <fragment source="Quote Slip Schedules" destination="Quote Slip Schedules" type="library" />
      <!-- metadata -->
      <fragment source="Approved Insurers List" destination="Approved Insurers List" type="list" />
      <fragment source="Class of Insurance" destination="Class of Insurance List" type="list" />
      <fragment source="Configuration" destination="Configuration List" type="list" />
      <fragment source="Discovery Category" destination="Discovery Category List" type="list" />
      <fragment source="Discovery Guide" destination="Discovery Guide List" type="list" />
      <fragment source="Office Addresses" destination="Office Addresses List" type="list" />
      <fragment source="Policy Type" destination="Policy Type List" type="list" />
      <fragment source="Word Help Content" destination="Word Help Content List" type="list" />
    </fragments>
  </fragmentSettings>
  <!-- ========== Log4net Logging Setup ========== -->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="logs\\templatesync.log" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>