<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OAMPS.Office.Word.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <userSettings>
    <OAMPS.Office.Word.Properties.Settings>
      <setting name="GraphicsPictureLibraryTitle" serializeAs="String">
        <value>OAMPS Branding</value>
      </setting>
      <setting name="GraphicsPictureLibraryTitleLogos" serializeAs="String">
        <value>Company Logos</value>
      </setting>
      <setting name="MajorPolicyClassesListName" serializeAs="String">
        <value>Class of Insurance</value>
      </setting>
      <setting name="MinorPolicyClassesListName" serializeAs="String">
        <value>Policy Type</value>
      </setting>
      <setting name="PreRenewalQuestionareMappingsListName" serializeAs="String">
        <value>PreRenewalQuestionareMappings</value>
      </setting>
      <setting name="ApprovedInsurersListName" serializeAs="String">
        <value>Approved Insurers List</value>
      </setting>
      <setting name="GeneralFragmentsListName" serializeAs="String">
        <value>Fragments</value>
      </setting>
      <setting name="EmailAddressUFITo" serializeAs="String">
        <value>daniel.colarossi@oamps.com.au</value>
      </setting>
      <setting name="EmailAddressUFIFrom" serializeAs="String">
        <value>daniel.colarossi@oamps.com.au</value>
      </setting>
      <setting name="SMTP" serializeAs="String">
        <value />
      </setting>
      <setting name="MinorQuestionClassesListName" serializeAs="String">
        <value>Discovery Guide</value>
      </setting>
      <setting name="TopLevelQuestionClassesListName" serializeAs="String">
        <value>Discovery Category</value>
      </setting>
      <setting name="PolicyFragmentKeysListName" serializeAs="String">
        <value>PolicyFragments</value>
      </setting>
      <setting name="GeneralFragmentKeysListName" serializeAs="String">
        <value>Fragments</value>
      </setting>
      <setting name="HelpContentListName" serializeAs="String">
        <value>Word Help Content</value>
      </setting>
      <setting name="UsageReportingListName" serializeAs="String">
        <value>Usage Reporting</value>
      </setting>
      <setting name="PolicySchedulesListName" serializeAs="String">
        <value>Quote Slip Schedules</value>
      </setting>
      <setting name="LibraryClaimsProcedures" serializeAs="String">
        <value>Claims Procedures</value>
      </setting>
      <setting name="ListProposalShortDocumentTitles" serializeAs="String">
        <value>proposal short document titles</value>
      </setting>
      <setting name="MainTemplatesLibraryName" serializeAs="String">
        <value>OAMPSWordTemplates</value>
      </setting>
      <setting name="TemplateInsuranceRenewalReport" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\OAMPSWordTemplates\Insurance Renewal Report.docx</value>
      </setting>
      <setting name="aadInstance" serializeAs="String">
        <value>https://login.microsoftonline.com/{0}</value>
      </setting>
      <setting name="tenant" serializeAs="String">
        <value>ajgau.onmicrosoft.com</value>
      </setting>
      <setting name="clientid" serializeAs="String">
        <value>83141754-35c8-4bf9-9a1d-c125529856f0</value>
      </setting>
      <setting name="redirecturi" serializeAs="String">
        <value>https://ajgau.sharepoint.com/sites/intranet</value>
      </setting>
      <setting name="TemplateDiscoveryGuide" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\OAMPSWordTemplates\Discovery Guide.docx</value>
      </setting>
      <setting name="TemplateGenericLetter" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\OAMPSWordTemplates\Generic Letter.docx</value>
      </setting>
      <setting name="TemplateInsuranceRenewalLetter" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\OAMPSWordTemplates\Renewal Letter.docx</value>
      </setting>
      <setting name="TemplateQuoteSlip" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\OAMPSWordTemplates\QuoteSlip.docx</value>
      </setting>
      <setting name="TenantMetadataUrl" serializeAs="String">
        <value>https://login.microsoftonline.com/4f955c1f-62e5-44ef-8da3-051caaa6b103/federationmetadata/2007-06/federationmetadata.xml</value>
      </setting>
      <setting name="TokenResourceUrl" serializeAs="String">
        <value>https://ajgau.sharepoint.com</value>
      </setting>
      <setting name="TemplateLibraryName" serializeAs="String">
        <value>OAMPSWordTemplates</value>
      </setting>
      <setting name="LetterLibraryName" serializeAs="String">
        <value>OAMPS Letters</value>
      </setting>
      <setting name="LocalLibraryName" serializeAs="String">
        <value>CSSTemplates</value>
      </setting>
      <setting name="ClientFacing" serializeAs="String">
        <value>Client Facing Documents</value>
      </setting>
      <setting name="NonClientFacing" serializeAs="String">
        <value>Non Client Facing Documents</value>
      </setting>
      <setting name="LocalPathRoot" serializeAs="String">
        <value>AJG\CSS Templates</value>
      </setting>
      <setting name="TemplateAgenda" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\OAMPSWordTemplates\Meeting Agenda.docx</value>
      </setting>
      <setting name="SharePointContextUrl" serializeAs="String">
        <value>https://ajgau.sharepoint.com/sites/Applications/Templates/</value>
      </setting>
      <setting name="RelativeSitePath" serializeAs="String">
        <value>/sites/Applications/Templates/</value>
      </setting>
      <setting name="FragmentFSGLetter" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\FSG Fragment_letter.docx</value>
      </setting>
      <setting name="FragmentWarning" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\General Advice Warniing Fragment.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_NewInsr_YesGAW_NoFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr YesContact_NewInsr_YesGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentFSG" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\FSG Fragment.docx</value>
      </setting>
      <setting name="FragmentPrivacy" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Privacy Statement.docx</value>
      </setting>
      <setting name="FragmentUninsuredRisks" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Uninsured Risks Checklist.docx</value>
      </setting>
      <setting name="FragmentStatutory" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Important Notices.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_ExistingInsr_NoGAW_NoFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr NoContact_ExistingInsr_NoGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_ExistingInsr_NoGAW_YesFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr NoContact_ExistingInsr_NoGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_ExistingInsr_YesGAW_NoFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr NoContact_ExistingInsr_YesGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_ExistingInsr_YesGAW_YesFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr NoContact_ExistingInsr_YesGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentServicePlanSeg2" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Service Plan Seg 2 v0.1.docx</value>
      </setting>
      <setting name="FragmentServicePlanSeg3" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Service Plan Seg 3 v0.1.docx</value>
      </setting>
      <setting name="FragmentServicePlanSeg4" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Service Plan Seg 4 v0.1.docx</value>
      </setting>
      <setting name="FragmentServicePlanSeg5" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Service Plan Seg 5 v0.1.docx</value>
      </setting>
      <setting name="FragementFeesRemuneration" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\OAMPS Professional Fees Remuneration.docx</value>
      </setting>
      <setting name="FragementFeesCommission" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\OAMPS Combined  Fee and commission.docx</value>
      </setting>
      <setting name="FragmentUFI" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\UFI Declaration.doc</value>
      </setting>
      <setting name="FragmentTermsOfEngagement" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Terms of Engagement.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_NewInsr_NoGAW_NoFunding" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr NoContact_NewInsr_NoGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_NewInsr_NoGAW_YesFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr NoContact_NewInsr_NoGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_NewInsr_YesGAW_NoFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr NoContact_NewInsr_YesGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLNoContact_NewInsr_YesGAW_YesFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr NoContact_NewInsr_YesGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_ExistingInsr_NoGAW_NoFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr YesContact_ExistingInsr_NoGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_ExistingInsr_NoGAW_YesFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr YesContact_ExistingInsr_NoGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_ExistingInsr_YesGAW_NoFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr YesContact_ExistingInsr_YesGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_ExistingInsr_YesGAW_YesFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr YesContact_ExistingInsr_YesGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_NewInsr_NoGAW_NoFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr YesContact_NewInsr_NoGAW_NoFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_NewInsr_NoGAW_YesFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr YesContact_NewInsr_NoGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRLYesContact_NewInsr_YesGAW_YesFunding"
        serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren Ltr YesContact_NewInsr_YesGAW_YesFunding.docx</value>
      </setting>
      <setting name="FragmentRRPurposeReport45" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren_Rpt_Purpose of Report SEG4and5.docx</value>
      </setting>
      <setting name="FragmentRRPurposeReport23" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren_Rpt_Purpose of Report SEG2and3.docx</value>
      </setting>
      <setting name="FragmentRREexSumFeeCommission" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Executive Summary_Fees_Commission Only.docx</value>
      </setting>
      <setting name="FragmentRREexSumFeeCombine" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Executive Summary_Fees_Fee Only and Combination.docx</value>
      </setting>
      <setting name="FragmentAGMinutes" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Fragement Agenda Minutes.docx</value>
      </setting>
      <setting name="FragmentClientProfile" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Client Profile.docx</value>
      </setting>
      <setting name="TemplatePrerenewalQuestionare" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\OAMPSWordTemplates\Pre-Renewal Questionnaire.docx</value>
      </setting>
      <setting name="FragmentPRQApprovalForm" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\PR Questionare Approval Form.docx</value>
      </setting>
      <setting name="FragmentPRQClaimsMadeWarning" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\PR Questionare Claims Made Warning.docx</value>
      </setting>
      <setting name="FragmentRRPurposeReportGeneric" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Ren_Rpt Purpose of Report.docx</value>
      </setting>
      <setting name="BlankFSGFragement" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Blank Fragment Base.docx</value>
      </setting>
      <setting name="PlacementSlipConditionsFragement" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\PlacementSlipConditions.docx</value>
      </setting>
      <setting name="InformationForPolicyFragment" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Information for Policy.docx</value>
      </setting>
      <setting name="FragmentContractingProcedure" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Contracting Procedure.docx</value>
      </setting>
      <setting name="InsuranceProposalShortProgramSummary" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\InsuranceProposalShortProgramSummary.docx</value>
      </setting>
      <setting name="FragmentClientProfileShortFormProposal" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Client Profile Insurance Proposal Short.docx</value>
      </setting>
      <setting name="BlankFragmentBaseOlly" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Blank Fragment Base Olly.docx</value>
      </setting>
      <setting name="FragmentClassOfInsurance" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Class of Insurance.docx</value>
      </setting>
      <setting name="InsuranceManualProgramSummary" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\InsuranceManualProgramSummary.docx</value>
      </setting>
      <setting name="TemplateInsuranceManual" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\OAMPSWordTemplates\Insurance Manual.docx</value>
      </setting>
      <setting name="Segment1Graphic" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Segment 1 graphic.docx</value>
      </setting>
      <setting name="Segment2Graphic" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Segment 2 graphic.docx</value>
      </setting>
      <setting name="Segment3Graphic" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Segment 3 graphic.docx</value>
      </setting>
      <setting name="Segment4Graphic" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Segment 4 graphic.docx</value>
      </setting>
      <setting name="Segment5Graphic" serializeAs="String">
        <value>file://%ProgramData%\AJG\CSS Templates\Fragments\Segment 5 graphic.docx</value>
      </setting>
      <setting name="UpdateMessage" serializeAs="String">
        <value>This template has been updated and Word will now exit.</value>
      </setting>
      <setting name="LocalFullPathRoot" serializeAs="String">
        <value>%ProgramData%\AJG\CSS Templates</value>
      </setting>
      <setting name="FieldValuesFileEnding" serializeAs="String">
        <value>_fvs.txt</value>
      </setting>
      <setting name="ErrorLogPath" serializeAs="String">
        <value>%ProgramData%\AJG\CSS Templates\Logs</value>
      </setting>
      <setting name="UsageLogQueue" serializeAs="String">
        <value>%ProgramData%\AJG\CSS Templates\UsageLogQueue.txt</value>
      </setting>
      <setting name="PeoplePickerSearchDomain" serializeAs="String">
        <value>SMI</value>
      </setting>
      <setting name="PeoplePickerSearchOU" serializeAs="String">
        <value>OU=Australia Broking,OU=ANZ Australia,OU=ANZ Locations,OU=ANZ,OU=LOCATIONS,DC=smi,DC=ajgco,DC=com</value>
      </setting>
    </OAMPS.Office.Word.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CSSTemplatesConnectionString" connectionString="Data Source=APAAUHC7DB04VP;Initial Catalog=CSSTemplates;User ID=CSSTemplatesGeneral;Password=4ArYET7Y" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="EventLogAppender" />
    </root>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
        <applicationName value="OAMPS.Office.Word" />
        <logName value="OAMPS.Office.Word" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
        </layout>
    </appender>
  </log4net>

</configuration>